@import url('https://fonts.googleapis.com/css?family=Khula');
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,600');

:root {
  --orange: rgb(255, 168, 0);
  --orange-dark: rgb(255, 120, 0);
  --blue: rgb(105, 167, 205);
  --blue-light: rgb(137, 179, 205);
  --blue-dark: rgb(80, 128, 157);
  --blue-green: rgba(118, 126, 128, 1)
  --text-blue: rgba(105, 167, 205, 1);
  --coffee: rgb(85, 73, 63);
  --latte: rgb(255, 250, 237);
  --body: rgb(56, 51, 48);
  --page-background: rgb(255, 255, 255);
  --narrow-header-background: rgb(250, 248, 243);
  --sub-text: rgb(133, 121, 112);
}

strong {
  font-weight: 600;
}

html {
  background-color: var(--blue-dark);
  background-image: url('../images/circle-1.png'), url('../images/circle-2.png'),
    url('../images/circle-3.png');
  background-position: left 50px top 0px, left 20px top 20px,
    left 100px top 10px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: 500ms background-color ease-out, 500ms ease-out opacity;
  width: 100%;
}

.narrow {
  background: var(--page-background);
}

body {
  color: var(--body);
  font-family: 'Assistant', sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: 500ms ease-out color, 500ms ease-out background,
    500ms ease-out opacity;
  transition-delay: 350ms;
  width: 100%;
  z-index: 0;
}

.normal body {
  font-size: 100%;
}

.big body {
  font-size: 110%;
}

.bigger body {
  font-size: 120%;
}

body .normal {
  font-size: 16px;
}

body .big {
  font-size: 20px;
}

body .bigger {
  font-size: 24px;
}

.serif body {
  font-family: 'Times New Roman', serif;
}

wrap {
  display: block;
  margin: 0px auto 0px auto;
  max-width: 1088px;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0px 0px 0px;
  pointer-events: none;
  touch-action: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: 250ms padding ease-out, 250ms opacity ease-out;
  transition-delay: 0ms, 350ms;
}

.loaded wrap {
  opacity: 1;
  pointer-events: all;
}

.loaded.narrow wrap {
  height: 100%;
  overflow: scroll;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  cursor: default;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 140%;
  margin: 0;
  padding: 0;
  transition: 250ms ease-out color, ease-out background;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  font-family: 'Assistant', sans-serif;
}

h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 1);
}

h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  line-height: 114%;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin-bottom: 0em;
  margin-top: 1em;
}

map {
  background: url(../images/map-1.gif) no-repeat center center;
  background-size: auto 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0px -40px;
}
.narrow map {
  background-position: -150px -4px;
  background-size: 235%;
  margin: 0px -20px;
}

section iframe + h2 {
  margin-bottom: 0.5em;
}

section h2 span {
  color: var(--orange-dark);
  cursor: pointer;
  display: none;
  padding: 0px 0em 0px 0px;
  transform: rotate(90deg) translateX(2px) translateY(2px);
}
section h2 span.revealed {
  color: black;
}

header h1,
.narrow header h1 {
  color: var(--blue);
}

header h1 span {
  color: var(--orange-dark);
}

.narrow header h1 {
  margin-top: 0.6em;
}

header h3 {
  color: var(--sub-text);
  font-weight: 100;
  letter-spacing: 0px;
}

header p {
  color: var(--body);
  font-weight: 100;
  margin-bottom: 0em;
}

p {
  margin-bottom: 1em;
}

li {
  list-style: none;
}

a {
  color: var(--body);
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-type: none;
}

ul.bulleted {
}

ul.bulleted li:before {
  content: '- ';
  opacity: 0.5;
}

header,
nav,
section,
footer {
  margin-left: 20px;
  margin-right: 20px;
}

section {
  margin-left: 40px;
  margin-right: 40px;
}

.narrow header,
.narrow nav,
.narrow section,
.narrow footer {
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background: var(--page-background);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px 8px 0px 0px;
  border-top: 3px solid --orange-dark;
  color: var(--body);
  margin-top: 0px;
  padding: 20px 20px 0px 20px;
  text-align: left;
  transition: 250ms ease-out border-radius, 250ms ease-out color,
    250ms ease-out width, 250ms ease-out height, 250ms ease-out opacity,
    250ms ease-out background, 250ms ease-out margin, font-size 0ms;
}

header h1 {
  font-size: 1.9em;
  margin-top: 40px;
  transition: 250ms margin ease-out;
}

.narrow header h1 {
  clear: both;
  font-size: 2.3em;
  margin-top: 39px;
}

header h2 {
  color: black;
  font-style: oblique;
}

.narrow header {
  background-color: var(--narrow-header-background);
  border-radius: 0px 0px 0px 0px;
  border-width: 0px;
  font-size: 70%;
  padding-bottom: 20px;
}

.narrow wrap {
  padding-top: 0px;
}

.narrow header h3 {
  font-size: 1.3em;
  padding-top: 5px;
}

.narrow header p {
  font-size: 1.3em;
  padding-left: 0px;
  padding-top: 3px;
}

header img {
  float: left;
  margin: 0px 0px 10px 3px;
  transition: 250ms all ease-out;
  width: 140px;
}

.narrow header img {
  display: none;
  margin: 0px 0px 0px -6px;
  width: 70px;
}

clear {
  clear: both;
  display: block;
}

button,
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

nav {
  background: rgba(0, 0, 0, 0.2);
  clear: both;
  font-size: 100%;
  overflow: hidden;
  padding: 8px 20px 0px 20px;
  text-align: left;
  transition: 250ms ease-out color, 250ms ease-out width, 250ms ease-out height,
    250ms ease-out opacity, 250ms ease-out background, 250ms ease-out margin,
    font-size 0ms;
  white-space: nowrap;
}

.narrow nav {
  background: rgba(255, 255, 255, 0.9);
  padding: 0px;
  width: 100px;
}

nav ul {
  white-space: nowrap;
  width: intrinsic;
}

.narrow ul.narrowNavLinks {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-size: 1.3em;
  margin-left: 0px;
  margin-top: -14px;
  padding: 20px 0px 20px 0px;
  position: fixed;
  right: 110px;
  text-align: right;
  top: 0px;
  transition: 250ms all ease-out;
  z-index: 1000;
}

.narrowNavMenu {
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: 250ms all ease-out;
}

.narrow .narrowNavMenu {
  opacity: 1;
  pointer-events: all;
}

.narrowNavMenu {
  background: rgba(255, 255, 255, 0) url(../images/hw-icon.png) no-repeat left
    20px top 16px;
  background-color: rgba(250, 248, 243, 0.9);
  background-size: 34px;
  color: var(--coffee);
  display: block;
  height: 46px;
  margin-right: 0px;
  overflow: hidden;
  padding-left: 70px;
  padding-top: 15px;
  position: fixed;
  text-align: left;
  top: 0px;
  width: 100%;
  z-index: 1001;
}

.narrowNavMenu hwtitle {
  color: var(--blue);
  display: block;
  font-weight: 100;
  opacity: 0;
  padding-top: 1px;
  transition: 250ms all ease-out;
}
.titleOn .narrowNavMenu {
  background-color: rgba(250, 248, 243, 0.9);
}
.titleOn .narrowNavMenu hwtitle,
.narrow.menuOn .narrowNavMenu hwtitle {
  opacity: 1;
}

.narrowNavMenu hwtitle span {
  color: var(--orange-dark);
}

.narrow .narrowNavMenu {
  opacity: 1;
}

.narrow.menuOn .narrowNavMenu {
  background-color: var(--narrow-header-background);
  transition-delay: 0ms;
}

.narrowNavMenu::before {
  color: var(--orange-dark);
  content: '\2630';
  font-family: 'Khula', sans-serif;
  margin-right: 60px;
  position: absolute;
  right: 20px;
  top: 14px;
}

ul.narrowNavLinks {
  display: none;
}

.narrow ul.narrowNavLinks {
  background: var(--page-background);
  display: block;
  height: 100%;
  left: 0px;
  opacity: 1;
  padding: 10px 0px 10px 0px;
  pointer-events: none;
  top: 0px;
  transform: translateY(-100%);
  width: 100%;
}

.narrow nav {
  display: none;
}

.narrow.menuOn ul.narrowNavLinks {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.narrow ul.narrowNavLinks li,
.narrow ul.narrowNavLinks li {
  display: block;
  text-align: center;
}

.narrow ul.narrowNavLinks li.on {
  background: rgba(255, 120, 0, 0);
  border-radius: 0px;
  cursor: default;
}

nav li,
ul.narrowNavLinks li {
  background: rgba(0, 0, 0, 0);
  border-radius: 3px 3px 0px 0px;
  border-top: 2px solid rgba(255, 120, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin-right: 2px;
  margin-top: 0px;
  transition: 250ms ease-out border-color, 250ms ease-out color,
    250ms ease-out width, 250ms ease-out height, 250ms ease-out opacity,
    250ms ease-out background, 250ms ease-out margin;
}

l.narrowNavLinks li {
  display: block;
  float: left;
}

nav li.on,
nav li.on:active,
nav li.on:focus {
  background: rgba(255, 255, 255, 1);
  border-top-color: rgba(255, 120, 0, 0.9);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.narrow ul.narrowNavLinks li {
  border-radius: none;
  border-top: 0px solid rgba(255, 120, 0, 0);
  box-shadow: none;
  float: none;
  margin-right: 0px;
}

nav li:hover {
  background: rgba(255, 255, 255, 1);
  border-top-color: var(--orange-dark);
  opacity: 1;
}

.narrow ul.narrowNavLinks li:hover {
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border-top: 0px solid rgba(253, 251, 245, 1);
}

.narrow ul.narrowNavLinks li.on:hover {
  border-radius: 0px;
}

nav li button,
.narrow ul.narrowNavLinks li button {
  background: none;
  border: none;
  box-shadow: inset 0px -20px 5px -20px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: block;
  font-family: 'Assistant', sans-serif;
  font-size: 1em;
  margin: 0px;
  outline: none;
  padding: 6px 21px 3px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  transition: 250ms ease-out box-shadow, 250ms ease-out color,
    250ms ease-out width, 250ms ease-out height, 250ms ease-out opacity,
    250ms ease-out background, 250ms ease-out margin;
}

nav li:hover button {
  box-shadow: inset 0px -20px 5px -20px rgba(0, 0, 0, 0.2);
}

.narrow ul.narrowNavLinks li:first-of-type {
  margin-top: 80px;
}

.narrow ul.narrowNavLinks li button {
  box-shadow: none;
  font-size: 1em;
  line-height: auto;
  padding: 8px 0px 8px 70px;
  text-align: left;
  width: 100%;
}

nav li.on button {
  box-shadow: none;
  text-shadow: 0px 1px 0px white;
}

.narrow ul.narrowNavLinks li.on button {
  color: var(--orange-dark);
  cursor: default;
}

nav li:hover button,
nav li.on button,
nav li button:hover,
.narrow ul.narrowNavLinks li button {
  color: black;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0);
}

.narrow ul.narrowNavLinks li button {
  color: var(--coffee);
  text-shadow: none;
}

main {
  background: rgba(255, 255, 255, 1);
  border-top: 0px solid rgba(255, 255, 255, 1);
  display: block;
  margin: 0px 20px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 0px;
  touch-action: auto;
  transition: 250ms ease-out color, 250ms ease-out width, 250ms ease-out height,
    250ms ease-out opacity, 250ms ease-out background, 250ms ease-out margin,
    font-size 0ms;
}

.narrow main {
  border-radius: 0px;
  margin: 0px 0px 0px;
  padding: 20px 20px 40px;
}

.mainSection {
  display: none;
  opacity: 0;
  transition: 250ms margin, opacity ease-out;
}

section {
  background: rgba(253, 251, 245, 0);
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: 250ms ease-out color, 250ms ease-out width, 250ms ease-out height,
    250ms ease-out opacity, 250ms ease-out background, 250ms ease-out margin,
    font-size 0ms;
}

.show {
  display: block;
  opacity: 1;
  transition-delay: 250ms;
}

a {
  color: var(--orange-dark);
  text-decoration: none;
  transition: 250ms color ease-out, 250ms border ease-out;
}

section ul {
  margin-bottom: 1em;
}

section ul.collapsable h3 {
  cursor: pointer;
}

section ul.collapsable h3:before {
  color: var(--orange-dark);
  content: '⊶ ';
  display: inline-block;
  font-family: sans;
  font-size: 20px;
  margin-left: -0.1em;
  margin-right: 0.18em;
  transform: rotate(-90deg) translateY(-1px) translateX(-1px);
}

section ul.collapsable.revealed h3:before {
  color: var(--coffee);
  content: '⊷ ';
}

section ul.collapsable li {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  padding-left: 1em;
  transition: 500ms all ease-in-out;
}

section ul.collapsable.revealed li {
  max-height: 5em;
  opacity: 1;
}

section ul li a,
section ul li span {
  background: rgba(0, 0, 0, 0);
  display: block;
  margin-left: 0px;
  padding-top: 10px;
}

a:hover {
  color: black;
  -webkit-text-decoration-color: var(--orange);
  text-decoration-color: var(--orange);
}

section iframe {
  border: 0;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  pointer-events: none;
  transition: 250ms ease-out color, 250ms ease-out width, 250ms ease-out height,
    250ms ease-out opacity, 250ms ease-out background, 250ms ease-out margin,
    font-size 0ms;
  width: 100%;
}

.narrow section iframe {
  float: none;
  margin-left: 0px;
  width: 100%;
}

.narrow section iframe {
  display: none;
}

.small {
  display: none;
}

.narrow section iframe.small {
  display: block;
}

.narrow section h2 {
  margin-top: 0px;
}

.narrow section {
  border-radius: 0px;
  padding-top: 0px;
}

.narrow section h1 {
  margin-top: 0px;
}

section aside {
  float: right;
  padding-left: 40px;
  padding-right: 0px;
  width: 23%;
}

section aside.wide {
  max-width: 400px;
  width: 43%;
}

.narrow section aside {
  max-width: 200px;
  padding-left: 20px;
  padding-right: 0px;
  width: 30%;
}

figcaption,
section aside h4,
section aside p,
section aside ul {
  display: block;
  font-size: 0.7em;
  margin: 0px;
}
figcaption {
  color: var(--coffee);
  margin-bottom: 20px;
  text-align: left;
}
figcaption:before {
  content: '© ';
}

.narrow figcaption {
  font-size: 0.5em;
}

.narrow section aside h4,
.narrow section aside p {
  display: none;
  margin-left: 20px;
}
section img {
  border-radius: 3px;
}

section aside img {
  border-radius: 3px;
  margin: 0px 0px 0px 0px;
  transition: 250ms all ease-out;
  width: 100%;
}

.narrow section aside.hideWhenNarrow {
  display: none;
}

section.column2 article {
  display: inline-block;
  vertical-align: top;
  width: 46%;
}
section.column2 article:first-of-type {
  margin-right: 40px;
}
.narrow section.column2 article {
  float: none;
  margin-right: 0px;
  width: auto;
}

.narrow section aside img.wide {
  width: 14em;
}

.loaded .footerWrap {
  height: auto;
  padding: 0px;
}

footer {
  background: var(--coffee);
  border-bottom: 3px solid --orange-dark;
  border-radius: 0px 0px 8px 8px;
  font-size: 0.8em;
  margin-left: 20px;
  margin-right: 20px;
  padding: 14px 20px 10px 20px;
  transition: 250ms ease-out color, 250ms ease-out width, 250ms ease-out height,
    250ms ease-out opacity, 250ms ease-out background, 250ms ease-out margin,
    font-size 0ms;
}

.loaded.narrow .footerWrap {
  bottom: 0px;
  height: auto;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.narrow footer {
  border-bottom: 0px;
  border-radius: 0px;
  display: block;
}

footer li {
  color: rgba(177, 164, 153, 1);
  display: inline-block;
  padding-right: 20px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

footer a {
  color: rgba(177, 164, 153, 1);
  cursor: pointer;
  display: block;
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
}

#lastClear {
  display: none;
  height: 20px;
  overflow: hidden;
}

.narrow #lastClear {
  height: 0px;
}
